<!doctype html>
<html lang='en'>

<head>
    <title>A Game of Hi-Low</title>
    <meta charset='utf-8'>
    <link href=data:, rel=icon>

    <script src='https://unpkg.com/vue@next' defer></script>
    <script src='script.js' defer></script>
    <style>
        [v-cloak] {
            display: none
        }

        .error {
            color: red;
        }

        .correct {
            color: green;
        }

        body {
            text-align: center;
        }

        #questionGuy {
            width: 100px;
            height: auto;
        }

        th,
        td {
            border: 1px solid black;
        }

        table,
        tr {
            width: 100%;
        }

        td {
            width: 50%;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        #guess-feedback-section {
            height: 100px;
        }
    </style>
</head>

<body>
    <h1>A Game of Hi-Low</h1>

    <div id='app' v-cloak>
        <div v-show='gameCount === 0'>
            <p><img v-bind:src='imageSource' v-bind:alt='imageAlt' id='questionGuy'></p>
            <p>
                In this game of Hi-Low, you are given 10 guesses to guess a mystery number.
                Once you successfully guess the number, your remaining guesses carry over to the next round.
                Your goal is to make it through as many rounds as possible before you run out of guesses!
            </p>
        </div>
        <button id='startButton' v-on:click='startNewGame()'>New Game</button>
        <div v-show='gameCount > 0'>
            <h3>Round {{ gameCount }}</h3>
            <p>
                <span> {{ instructions }}</span>
            </p>
            <p>
                <span> You have {{ guesses }} guesses remaining.</span>
            </p>
            <p>
                <label>
                    Guess:
                    <input type='number' v-model.number='currentGuess' v-on:keyup.enter='guessNumber()'>
                </label>
                <button id='guessButton' v-on:click='guessNumber()'>Guess</button>
            </p>
            <guess-feedback v-bind:guesses='guesses' v-bind:winning='winning' v-bind:feedback='feedback'
                v-bind:round-over='roundOver' v-bind:game-over='gameOver' v-bind:game-count='gameCount'
                v-bind:previous-guesses='previousGuesses' v-on:next-game='nextGame($event)'>
            </guess-feedback>
            <score-board v-bind:scores='scores' v-bind:history='history' v-on:reset-game='resetGame($event)'>
            </score-board>
        </div>
    </div>
    <script type='text/x-template' id='guess-feedback'>
        <div id='guess-feedback-section'>
            &nbsp;
            <span v-bind:class='{correct: winning, error: !winning}'>{{ feedback }}</span>
            <p v-if='previousGuesses.length>0'>So far, you've guessed: {{ previousGuesses.toString() }}</p>
            <p v-if='gameOver'>
                <span>You won {{ gameCount - 1 }} round{{ gameCount !== 2 ? 's' : '' }}. Start a new game to play again.</span>
            </p>
            <p v-if='roundOver && !gameOver'>
                <button id='playAgain' v-on:click='$emit("next-game")'>Start the Next Round!</button>
            </p>

        </div>
    </script>
    <script type='text/x-template' id='score-board'>
        <div>
            <table>
                <tr>
                    <th>Current Game</th>
                    <th>History</th>
                </tr>
                <tr>
                    <td>
                        <span v-if='scores.length === 0'><i>No rounds played yet.</i></span>
                        <ul>
                            <li v-for='score in scores'>
                                Round {{score.gameCount}}: {{ score.winner }} won after {{ score.numGuesses }} guesses
                            </li>
                        </ul>
                    </td>
                    <td>
                        <span v-if='history.length === 0'><i>No full games played yet.</i></span>
                        <ul>
                            <li v-for='game in history'>
                                Player made it to round {{ game.rounds }}
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
            <p>
                <button id='resetbutton' v-on:click='$emit("reset-game")'>Reset All</button>
            </p>
        </div>
    </script>
</body>

</html>