<!doctype html>
<html lang='en'>

<head>
    <title>Shopping List</title>
    <meta charset='utf-8'>
    <link href=data:, rel=icon>

    <script src='https://unpkg.com/vue@next' defer></script>
    <script src='script.js' defer></script>
    <style>
        [v-cloak] {
            display: none
        }
    </style>
</head>

<body>
    <h1>Shopping List</h1>

    <div id='app' v-cloak>
        <label>
            Qty:
            <input type='number' v-model.number='quantity'>
        </label>
        <label>
            Item:
            <input type='text' v-model='item' v-on:keyup.enter='addItem'>
        </label>
        <button v-on:click='addItem'>Add</button>
        <p>
            <span v-if='items.length === 0'><i>You have no items on your list.</i></span>
            <template v-else>
                <span>Item count: {{ this.$data.total }}</span>
                <ul>
                    <li v-for='(item, index) in items'>
                        <button v-on:click='removeItem(index)'>x</button>
                        {{ item.quantity }} x {{item.item }}
                    </li>
                </ul>
            </template>
        </p>

    </div>
</body>

</html>